GO_ENV=production
PORT=:8090
API_KEY=sQnUuMcd/GIs5BlBSyfRZAJCMCk8UBdIqRt12K2pLI9R3h3DbthiadfDAi8Uoo6C63VXqyvThxTt72H8+IoxNr
API_SECRET=QYd6iDfb08H87cpOJ17OqE6KsHLmmxM17CKJvf3Im8sdfvbadVwl5THEsDivxLU21O6hRtPijKjMgOFyrHLwWch
BASE_URL=https://<ip address>/api/captiveportal/voucher
SEARCH=
STATE=unused
VALIDITY=3600
GROUP_NAME=01-1hour
PRINTED=unprinted
LIMIT=10
CAPTIVE_PORTAL_URL=https://<ip address>:8000
ORGANISATION_NAME=Fast Data